# core
flask~=3.1
flask-cors~=5.0

# auth & security
flask-jwt-extended~=4.7
argon2-cffi~=25.1.0

# database
flask-sqlalchemy~=3.1
flask-migrate~=4.1
psycopg2-binary~=2.9

# cache
redis>=6.0,<7.0

# server
gunicorn~=23.0

# utils
python-dotenv~=1.0

# testing
pytest~=8.3
pytest-flask~=1.3
